<!DOCTYPE HTML>
asdfasdfa
<table class="table">
  <thead>
    <tr>
      <th>NAME</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="aDoc in docList">
      <td>{{aDoc.name}}</td>
    </tr>
  </tbody>
</table>