<!DOCTYPE HTML>
<html>
  <head>
    <title>Mark down working</title>
    <!-- <link href="style.css" rel="/" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="/lib/showdown.js" type="text/javascript"></script>
    <script src="http://ajaxorg.github.com/ace/build/src/ace.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/ace.js"></script>
  </head>

  <body>
    <div id="editor-container">
      <div id="editor-container-left">
        <div id="editor-left">{{{content}}}</div>
      </div>
      <div id="editor-container-right">
        <div id="editor-right">
          <div id="view" class="content">{{{markdown}}}</div>
        </div>
      </div>
    </div>
  </body>

  <script>
    window.onload = function() {
      var converter = new Showdown.converter();
      var view = document.getElementById('view');

      var editor-left = ace.edit("editor-left");
      editor-left.setReadOnly(true);
      editor-left.session.setUseWrapMode(true);
      editor-left.setShowPrintMargin(false);

      // This could instead be written simply as:
      // sharejs.open('{{{docName}}}', function(doc, error) {
      //   ...

      var connection = new sharejs.Connection('/channel');

      connection.open('{{{docName}}}', function(error, doc) {
        if (error) {
          console.error(error);
          return;
        }
        doc.attach_ace(editor-left);
        editor-left.setReadOnly(false);

        var render = function() {
          view.innerHTML = converter.makeHtml(doc.snapshot);
        };

        window.doc = doc;

        render();
        doc.on('change', render);
      });
    };
  </script>
</html>

