<!DOCTYPE HTML>
<html ng-app="ostb">

  <head>
    <title>Index</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>

  <body>

    <h1>This is our index</h1>

    <h3>State: {{a}}</h3>

    <a href="/edit">Editor</a>
    <a href="" ui-sref="example">Example</a>
    <a href="" ui-sref="versions">versions</a>

<div ng-controller='MyCtrl'>
  <button ng-click='toggleModal()'>Create New Project</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>New Project</h3>
    <form>
      Project Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="Your Project"><br>
      <input type="submit" value="Submit">
    </form>
  </modal-dialog>
</div>

<div ng-controller='MyCtrl'>
  <button ng-click='toggleModal()'>Save Version</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>Save New Version</h3>
    <form>
      Version Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="use a name that describes your changes..."><br>
      <input type="submit" value="Submit">
    </form>
  </modal-dialog>
</div>


    <p>Your content is served below in ui-view="content"</p>
    <div ui-view="content"></div>

  </body>
</html>

