<!DOCTYPE HTML>
<html ng-app="ostb">

  <head>
    <title>Index</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="factories/usersFactory.js"></script>
    <script src="factories/projectsFactory.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>

  <body>

    <h1>This is our index</h1>

    <h3>State: {{a}}</h3>

    <a href="/editor">Editor</a>
    <a ui-sref="example">Example</a>
    <a ui-sref="versions">versions</a>
<br>
<br>


<p>Project CRUD tests:</p>
<p>Your express instance will create a user_data dir witin the repo dir. This is where repo information will be stored. These modals will throw errors for which there are valid workflows to the error. (ie. there will never be a situation where you create a project w/o knowing the user.)</p>
<div ng-controller='UsersController'>
  <button ng-click='toggleModal()'>Create New User</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>New User // to be removed //</h3>
    <form ng-submit='createUser(user)'>
      Username:
      <br>
      <input style="width: 300px;" type="text" placeholder="Your Username" ng-model="user.username"><br>
      <div><input type="submit" value="Submit"></div>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>

<div ng-controller='UsersController'>
  <button ng-click='toggleModal()'>Delete User</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>Delete User // to be removed //</h3>
    <form ng-submit='deleteUser(user)'>
      Username:
      <br>
      <input style="width: 300px;" type="text" placeholder="Username" ng-model="user.username"><br>
      <div><input type="submit" value="Submit"></div>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>
<br>

<div ng-controller='ProjectsController'>
  <button ng-click='toggleModal()'>Create New Project</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>New Project</h3>
    <form ng-submit='createProject(project)'>
      Project Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="Your Project Name" ng-model="project.repo"><br>
      Username: // to be removed //
      <br>
      <input style="width: 300px;" type="text" placeholder="USERNAME" ng-model="project.username"><br>
      <div><input type="submit" value="Submit"></div>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>

<div ng-controller='ProjectsController'>
  <button ng-click='toggleModal()'>Delete Project</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>Delete Project // to be removed //</h3>
    <form ng-submit='deleteProject(project)'>
      Project Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="Your Project Name" ng-model="project.repo"><br>
      Username: // to be removed //
      <br>
      <input style="width: 300px;" type="text" placeholder="USERNAME" ng-model="project.username"><br>
      <div><input type="submit" value="Submit"></div>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>
<br>

<div ng-controller='ProjectsController'>
  <button ng-click='toggleModal()'>Save Version</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
    <h3>Save New Version</h3>
    <form>
      Version Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="use a name that describes your changes..."><br>
      <input type="submit" value="Submit">
    </form>
  </modal-dialog>
</div>


    <p>Your content is served below in ui-view="content"</p>
    <div ui-view="content"></div>

  </body>
</html>

