<!DOCTYPE HTML>
<!-- <html ng-app="angularApp"> -->
<html style="width: 100%; height: 100%;">
	<head>
		<title>Hello World</title>
		<meta charset="utf-8">
		<style>
			#editor {
				font-size: 1em;
			}
		</style>
	</head>

	<body style="width: 100%; height: 100%;">
		<h1>HELLO</h1>
		<div id="editor" style="width: 100%; height: 100%;"></div>
        
		<script src="http://ajaxorg.github.com/ace/build/src/ace.js"></script>

		<script src='/lib/showdown.js'></script>
		<script src='/lib/bcsocket.js'></script>

	  <!-- // <script src="/channel/bcsocket.js"></script>  -->
		<!--<script src="/share/share.uncompressed.js"></script>-->
		<script src="/share/share.js"></script>
		<script src="/share/ace.js"></script>
		<!--<script src="/share/textarea.js"></script>-->
		<script>

			window.onload = function() {
			  var converter = new Showdown.converter();
			  var view = document.getElementById('view');
			      var editor = ace.edit("editor");
			  editor.setReadOnly(true);
			  editor.session.setUseWrapMode(true);
			  editor.setShowPrintMargin(false);

			  var connection = new sharejs.Connection('http://localhost:3000/');
			  connection.open('/', function(error, doc) {
			  // connection.open('/', function(error, doc) {
			    if (error) {
			      console.error(error);
			      return;
			    }
			    doc.attach_ace(editor);
			    editor.setReadOnly(false);
			    var render = function() {
			      view.innerHTML = converter.makeHtml(doc.snapshot);
			    };
			    window.doc = doc;
			    render();
			    doc.on('change', render);
			  });
			};
		</script>
	</body>
</html>	
