<!DOCTYPE HTML>
<html>
  <head>
    <title>Index</title>

  </head>

  <body>

    <h1>This is our index</h1>
    <a href="/edit">Editor</a>

    <p>Your content is served below in ui-view="content"</p>
    <div ui-view="content"></div>

  </body>
</html>

