<!DOCTYPE HTML>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <!-- Left Buttons --> 
      <span style="float: left;"><ul class="editNav">
        <div id="navText"><strong>OSTB</strong></div>
				<li class="editButton"><i class="fa fa-globe fa-fw"></i></li>
			</ul></span>
      <!-- Right Buttons --> 
      <span style="float: right;"><ul class="editNav">
				<li class="editButton"></li>
				<li class="editButton"><a ui-sref="example">Example</a></li>
        <li class="editButton" title="Save Version"><a ui-sref="logout">Logout</a></li>
			</ul></span>
    </div>
  </body>
</html>
