<!DOCTYPE HTML>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <span style="float: left;"><ul class="editNav">
				<li class="editButton"><i class="fa fa-bold fa-fw"></i></li>
				<li class="editButton"><i class="fa fa-italic fa-fw"></i></li>
				<li class="editButton"><i class="fa fa-globe fa-fw"></i></li>
				<li class="editButton"><i class="fa fa-indent fa-fw"></i></li>
				<li class="editButton"><i class="fa fa-picture-o fa-fw"></i></li>
				<li class="editButton" title="Save Version"><i class="fa fa-floppy-o fa-fw"></i></li>
			</ul></span>
      <div id="navText"><strong>Project Name </strong></div>
    </div>
  </body>
</html>
