/* ====================
   DEFAULTS
   ================= */

.wrapper { max-width: 1020px; margin: 0 auto; }

/* Navigation classes */
.nav       { list-style: none; margin: 0; font-weight: 300; }
.primary   { font-size: 1.2em; }
.secondary { font-size: 1.05em; }
.meta      { font-size: .875em; }

/* Floats and hide */
.left   { float: left; }
.right  { float: right; }
.clear  { clear: both; }
.hidden { display: none; }

/* Typography */
h1, h2, h3, h4, h5, h6, p { font-family: 'Roboto', sans-serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
p  { font-size: .825em; }

/* Links */
a         { color: #3977a6; text-decoration: none; }
a:hover   { color: #73a6cd; }
a:visited { color: #6e8a9f; }

.logo a       { color: #000000; }
.logo a:hover { color: #000000; }

.meta a        { color: #000000; display: block; padding: 15px; cursor: pointer; }
.meta a:hover  { color: #3977a6; }
.meta a:active { color: #73a6cd; }
.meta .current { background: #edeeef; }


/* ====================
   GENERAL
   ================= */

html {
	height: 100%;
}

.metabar {
  border-bottom: 1px solid #99c3e3;
  overflow: auto;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 2em;
  vertical-align: middle;
  margin: 0 0 0 15px;
}

.meta li {
  float: left;
}

.login .wrapper, .sign-up .wrapper {
  width: 20em;
}

.login input, .sign-up input {
  display: block;
  width: 18em;
  height: 1em;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  margin-bottom: 4px;
  padding: 1em;
  font-size: .825em;
  font-weight: 300;
}

.login input:focus, .sign-up input:focus {
  border: 1px solid #99c3e3;
  outline: 0;
}

.login button, .sign-up button {
  margin-top: 20px;
  width: 8em;
  height: 2.25em;
  border: 1px solid #555;
  border-radius: 4px;
  background: #73a6cd;
  color: #fff;
}

.login button:hover, .sign-up button:hover {
  background: #6396bd;
}

.login a, .sign-up a {
  font-size: .825em;
  margin: 30px 0 0 27px;
}

.page h1 {
  font-family: 'Roboto Slab', serif;
}

.page h1 span {
  font-weight: 300;
  color: #777;
}

.page button {
  display: block;
  width: 12em;
  height: 2.5em;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin: 4px 0;
  color: #3977a6;
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
}

.page .nav {
  margin: 2em 0;
  padding: 0;
}

.page .nav a {
  display: block;
  width: 10em;
  padding: .75em;
  border: 1px solid #eee;
  cursor: pointer;
}








.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.6;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


/* ====================
   EDITOR
   ================= */


#header {
  position: fixed;
  top: 100px;
  right: 0;
  height: 100px;
  width: 100%;
  background-color: black;
}

#htext {
  line-height: 30px;
  vertical-align: middle;

  padding-left: 10px;
  color: white;
  font-family: baskerville, palatino, 'palatino linotype', georgia,serif; 
}

#right {
  margin: 0;
  position: fixed;
  overflow: scroll;
  float: right;
  background-color: #E8F2FD;
  top: 200px;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

#view {
  padding-left: 30px;
  padding-right: 30px;
}

#editor { 
  margin: 0;
  position: fixed;
  top: 200px;
  bottom: 0;
  right: 50%;
  left: 0;
  width: 50%;
  height: 100%;
}

.editButton {
  color: white;
  display: inline-block;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  padding: 10px 0 0 10px;
}

.editButton:hover {
  border: 1px solid cyan;
  cursor: pointer;
}

.editButton:active {
  background-color: cyan;
}


