/* ====================
   DEFAULTS
   ================= */

.wrapper { max-width: 1020px; margin: 0 auto; overflow: hidden; position:relative; }

/* Navigation classes */
.nav       { list-style: none; margin: 0; font-weight: 300; }
.primary   { font-size: 1.2em; }
.secondary { font-size: 1.05em; }
.meta      { font-size: .875em; }

/* Floats and hide */
.left   { float: left; }
.right  { float: right; }
.clear  { clear: both; }
.hidden { visibility: hidden; }

/* Typography */
h1, h2, h3, h4, h5, h6, p { font-family: 'Roboto', sans-serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
p  { font-size: .825em; }
li { line-height: 1.5em;}

/* Links */
a         { color: #3977a6; text-decoration: none; cursor: pointer; }
a:visited { color: #6e8a9f; }
a:hover   { color: #73a6cd; }

.logo a       { color: #000000; }
.logo a:hover { color: #000000; }

.nav a:visited { color: #3977a6; }
.nav a:hover   { color: #73a6cd; }

.meta a         { color: #000000; display: block; padding: 15px; }
.meta a:visited { color: #000000; }
.meta a:hover   { color: #3977a6; }
.meta a:active  { color: #73a6cd; }
.meta .current  { background: #edeeef; }

:focus { outline: 1px dotted #ccc; }

/* Two column layouts */
.content { margin-right: 220px; }
.control { width: 200px; top: 0; right: 0; position: absolute; }

/* Three columns */
.column { width: 30%; margin: 2.5%; float: left; }
.column:first-child { margin-left: 0; }
.column:last-child { margin-right: 0; }

/* Buttons */
button {
  display: block;
  width: 12.5em;
  height: 2.5em;
  background: linear-gradient(to bottom, #fdfdfd 0%, #f8f8f8 100%);
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0 6px;
  color: #3977a6;
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
}

button:hover { background: linear-gradient(to bottom, #f8f8f8 0%, #fdfdfd 100%); color: #73a6cd; }
button:active { box-shadow: inset 1px 1px 3px #ddd; }
button:focus { outline: 0; border-color: #999; }

/* ====================
   GENERAL
   ================= */

/* Universal elements */
html {
	height: 100%;
}

.metabar {
  border-bottom: 1px solid #99c3e3;
  overflow: auto;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 2em;
  vertical-align: middle;
  margin: 0 0 0 15px;
}

.meta li {
  float: left;
}

/* Splash page */
.splash {
  background: #99c3e3;
  padding: 3em 0 3em;
}

.splash h1 {
  font-size: 2.25em;
  font-weight: 300;
  margin: 0;
}

.splash button {
  width: 11em;
  height: 2.2em;
  margin: 1.5em auto 0;
  text-align: center;
  background: #ee9911;
  border: 0;
  border-radius: 12px;
  color: #fff;
  font-size: 1.5em;
  box-shadow: inset 0px -3px 1px rgba(0,0,0,.1);
  transition: .2s ease;
}

.splash button:hover {
  background: #ffaa22;
}

/* Login Page */
.login .wrapper, .sign-up .wrapper {
  width: 20em;
}

input {
  display: block;
  width: 18em;
  height: 1em;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  margin-bottom: 4px;
  padding: 1em;
  font-size: .825em;
  font-weight: 300;
}

input:focus {
  border: 1px solid #99c3e3;
  outline: 0;
}

.login button, .sign-up button {
  margin-top: 20px;
  width: 8em;
  height: 2.25em;
  border: 1px solid #555;
  background: #73a6cd;
  color: #fff;
  text-align: center;
  padding: 0;
}

.login button:hover, .sign-up button:hover {
  background: #6396bd;
}

.login a, .sign-up a {
  font-size: .825em;
  font-weight: 300;
  margin: 30px 0 0 28px;
}

/* Project details page for a pages */
.page .wrapper {
  min-height: 35em;
}

.page .control {
  top: 1.25em;
}

.page h1 {
  font-family: 'Roboto Slab', serif;
  border-bottom: 1px solid #ebebeb;
}

.page h1 a {
  font-weight: 300;
}

.page .nav {
  margin: 2em 0;
  padding: 1em 0;
  border-left: 1px solid #ebebeb;
  box-shadow: inset 5px 0 5px -3px #f4f4f4;
}

.page .nav a {
  display: block;
  width: 10em;
  padding: .6em;
  cursor: pointer;
}

.page .nav li.current {
  border-top: 1px solid #ebebeb;
  border-right: 4px solid #73a6cd;
  border-bottom: 1px solid #ebebeb;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
  border-left: 1px solid #fff;
  margin-left: -1px;
  box-shadow: 0 5px 5px -3px #eee;
}

.page .nav li:hover {
  background: linear-gradient(to right, #f6f6f6 0%, #fff 100%);  
}

.page .nav li.current:hover {
  background: #fff;
}

/* Account page */
.account .wrapper {
  width: 40em;
}

.account div.left {
  margin-right: 2em;
}

.account button {
  text-align: center;
  padding-left: 0;
}

/* Dashboard */
.dashboard .wrapper {
  min-height: 240px;
}

.dashboard ul {
  padding: 0;
}

.dashboard .control {
  top: 6.5em;
}

.dashboard .profile ul {
  list-style: none;
  font-size: .875em;
}

.dashboard .labels {
  color: #999;
}

.dashboard .labels li {
  text-align: right;
}

.books {
  width: 30%;
}

.pages {
  width: 66%;
  margin: 0 2%;
}

.pages li {
  padding: .5em 0;
  border-top: 1px solid #eee;
  font-weight: 400;
}

.pages span {
  color: #aaa;
  font-weight: 300;
  font-size: .8em;
}

/* Discover page */
.discover .project {
  border-top: 1px solid #eee;
  overflow: auto;
  transition: .15s ease;
}

.discover .project:hover {
  padding: 0 .5em;
  background: #fafafa;
}

.discover .project h3 {
  font-family: 'Roboto Slab', serif;
  margin: .5em 0 0;
}

.discover .project h4.right {
  font-family: 'Roboto', sans-serif;
  margin: .75em 0 0;  
  /*color: rgba(0, 0, 0, .3);*/
}

.discover .project .left {
  margin-right: 20px;
}

.discover .time {
  color: rgba(0, 0, 0, .4);
}








.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.6;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px rgba(0, 0, 0, .3);
  border: 2px solid #73a6cd;
  border-radius: 3px;
  width: 400px;
}

.ng-modal-dialog input {
  width: 340px;
  padding: 1em;
}

.ng-modal-dialog button {
  width: auto;
  padding: 0 1em;
}

.ng-modal-dialog-content {
  padding: 1em;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'Roboto', 'sans-serif';
}

.validation-error {
  min-height: 3em;
  margin: 1em 0;
  color: red;
}


/* ====================
   EDITOR
   ================= */

img {
  max-width: 500px;
}

#header {
  position: fixed;
  top: 52px;
  right: 0;
  height: 63px;
  width: 100%;
  background: #99c3e3;
}

#header > .left, #header > .right {
  width: 46%;
  margin: 0 2%;
}

#htext {
  display: none;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 10px;
  color: white;
  font-family: baskerville, palatino, 'palatino linotype', georgia,serif; 
}

#right {
  margin: 0;
  position: fixed;
  overflow: scroll;
  float: right;
  background-color: #f6f7f9;
  top: 115px;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 50%;
  border-left: 1px solid #99c3e3;
}

#right p {
  font-family: 'Open Sans', sans-serif;
}

#view {
  padding-left: 30px;
  padding-right: 30px;
}

#editor { 
  margin: 0 0 0 1%;
  position: fixed;
  top: 115px;
  bottom: 0;
  right: 50%;
  left: 0;
  width: 49%;
  color: #576c82;
  font-size: .8em;
  line-height: 1.6em;
  font-family: Menlo, Consolas, 'Courier New', Courier, monospace;
}

.ace_active-line {
  background-color: #f6f7f9 !important;

}

.editNav {
  padding-left: 0;
  margin: 10px 0;
}

.editButton {
  color: black;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 3px;
  background: rgba(255, 255, 255, .1);
  height: 30px;
  width: 30px;
  padding: 10px 0 0 10px;
}

.editButton:hover {
  border: 1px solid rgba(255, 255, 255, .5);
  background: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.editButton:active {
  background: rgba(255, 255, 255, .1);
}

.save {
  width: 4.65em;
}

.question {
  margin-bottom: 0;
}

.question + p {
  margin-top: 0;
}

.answer-wide:first-child, .answer-tall {
  margin: 0 .25em 0 0px;
}

.answer-wide {
  margin: 0 .25em 0 1.5em;
}

#preview {
  background: #f6f7f9;
  padding: 1px 1em;
}

.removeButton {
  display: inline-block;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  padding: 10px 0 0 10px;
}

.removeButton:hover {
  border: 1px solid red;
  cursor: pointer;
}

.removeButton:active {
  background-color: red;
}

.dark {
  background-color: slategray;
}

.fyiBox {
  background: rgb(239, 247, 255);
  border: 1px solid rgb(111, 157, 214);
  border-radius: 10px;
  padding: 14px;
  width: 260px
}

.profile img {
  border-radius: 25px;
  border: 2px solid rgb(111, 157, 214);
}

.boldlink {
  font-weight: bold;
}




