/* ====================
   DEFAULTS
   ================= */

.wrapper { max-width: 1020px; margin: 0 auto; }

/* Navigation classes */
.nav       { list-style: none; margin: 0; }
.primary   { font-size: 1.2em; }
.secondary { font-size: 1.05em; }
.meta      { font-size: .875em; }

/* Floats and hide */
.left   { float: left; }
.right  { float: right; }
.clear  { clear: both; }
.hidden { display: none; }

/* Typography */
h1, h2, h3, h4, h5, h6, p { font-family: 'Roboto', sans-serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
p  { font-size: .825em; }

/* Links */
a         { color: #3977a6; text-decoration: none; }
a:hover   { color: #73a6cd; }
a:visited { color: #6e8a9f; }

.logo a       { color: #000000; }
.logo a:hover { color: #000000; }

.meta a        { color: #000000; display: block; padding: 15px; cursor: pointer; }
.meta a:hover  { color: #3977a6; }
.meta a:active { color: #73a6cd; }
.meta .current { background: #edeeef; }


/* ====================
   GENERAL
   ================= */

html {
	height: 100%;
}

.metabar {
  border-bottom: 1px solid #99c3e3;
  overflow: auto;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0;
}

.meta li {
  float: left;
}




.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.6;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

