
html {
	width: 100%;
	height: 100%
}

body {
	overflow: hidden;
	width: 100%;
	height: 100%;
  margin: 0;
  padding: 0;
}

#navbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 53px;
	width: 100%;
	background-color: black;
}

#navText {
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
	line-height: 30px;
  text-align: center;
  position: absolute;

	color: white;
	font-family: baskerville, palatino, 'palatino linotype', georgia,serif; 
}

.editNav {
	color: white;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.editButton {
	display: inline-block;
	border: 1px solid grey;
	height: 30px;
	width: 30px;
	padding: 10px 0 0 10px;
}

.editButton:hover {
	border: 1px solid cyan;
	cursor: pointer;
}

#editor-left { 
	margin: 0;
	position: fixed;
	top: 100px;
	bottom: 0;
	right: 50%;
	left: 0;
	width: 50%;
	height: 100%;
}

#editor-right {
	margin: 0;
	position: fixed;
	overflow: scroll;
	float: right;
	background-color: #E8F2FD;
	top: 100px;
	bottom: 0;
	right: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

#view {
	padding-left: 30px;
	padding-right: 30px;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

