html {
	width: 100%;
	height: 100%
}

body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.editNav {
	color: white;
}

.editButton {
	display: inline-block;
	border: 1px solid gray;
	height: 30px;
	width: 30px;
	padding: 10px 0 0 10px;
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	height: 100px;
	width: 100%;
	background-color: black;
}

#htext {
	line-height: 30px;
	vertical-align: middle;

	padding-left: 10px;
	color: white;
	font-family: baskerville, palatino, 'palatino linotype', georgia,serif; 
}

#right {
	margin: 0;
	position: fixed;
	overflow: scroll;
	float: right;
	background-color: #E8F2FD;
	top: 100px;
	bottom: 0;
	right: 0;
	left: 50%;
	width: 50%;
	height: 100%;"
}

#view {
	padding-left: 30px;
	padding-right: 30px;
}

#editor { 
	margin: 0;
	position: fixed;
	top: 100px;
	bottom: 0;
	right: 50%;
	left: 0;
	width: 50%;
	height: 100%;
}

