<div class="account">
  <div class="wrapper">
    <h1>Settings</h1>
    <div class="left">
      <h3>Profile Info</h3>
      <form ng-submit='updateUser(user)'>
        <!-- <label for="full-name">Full Name</label> -->
        <input type="text" id="full-name" placeholder="Name" ng-model="user.meta.fullName">
        <!-- <label for="user-title">Title</label> -->
        <input type="text" id="user-title" placeholder="Title" ng-model="user.meta.title">
        <!-- <label for="organization">Workplace</label> -->
        <input type="text" id="organization" placeholder="Organization" ng-model="user.meta.workplace">
        <button type="submit">Update Info</button>
      </form>
    </div>

    <div class="right">
      <h3>Change Password</h3>
      <input type="text" name="oldPassword" placeholder="Old password">
      <input type="text" name="newPassword" placeholder="New password">
      <input type="text" name="newPasswordAgain" placeholder="New password again">
      <button type="button" id="changePasswordButton">Change Password</button>
    </div>
  </div>
</div>
