<div class="account">
  <div class="wrapper">
    <h1>Account Settings</h1>
    <div class="left">
      <img src="../images/user.jpeg">
      <button type="button" id="changePhotoButton">Change Photo</button>
    </div>
    <div class="left">
      <input type="text" name="oldPassword" placeholder="Old password">
      <input type="text" name="newPassword" placeholder="New password">
      <input type="text" name="newPasswordAgain" placeholder="New password again">
      <button type="button" id="changePasswordButton">Change Password</button>
    </div>
  </div>
</div>
