<h3>Contributors</h3>

<div style="float: left; border: 2px solid rgb(92, 161, 250); padding: 0 20px; border-radius: 25px;">
  <h5>Project Members</h5>
  <p>Members can collaboratively edit your<br>project in real time, and save new<br>versions.</p>

  <ul style="list-style: none;">
    <li ng-repeat='member in membersList track by $index'>
        <div ng-hide="member === project.username" class="removeButton"><i ng-click="deleteMember(member)" class="fa fa-times-circle fa-lg"></i></div>
        <a ng-class="{boldlink:member === project.username}" ui-sref="dashboard({username: member})">{{member}}</a>
      </div>
    </li>
  </ul>
</div>

<div style="float: right; margin-right: 50px;">
  <form>
    Find Members:
    <br>
    <input style="width: 300px;" type="text" placeholder="Username" ng-model="userSearch" ng-keyup="query(userSearch)"><br>
    <br>
    
    Click on a username below to add to a members list
    
    <div ng-repeat='user in queryUser | filter' ng-click='addMember(user.username)'>  
        <h2 class"form-label"> {{user.username}}</h2>
    </div>

    <div style="color:red;">{{response}}</div>
  </form>
</div>
