<h3>Preview Contribution</h3>

<div ng-hide="currentUser === project.username" class="fyiBox">This contribution is pending review from the project owner.</div>
<br>

<div ng-show="currentUser === project.username">
  <div style="float: left; margin-right: 30px">
    <span>Save this contribution as<br>the current master version.
      <a ng-click="acceptContribution()"><button>Accept Changes</button></a>
    </span>
  </div>

  <div>
    <span>Delete this contribution<br>and keep the current version as is.
      <a ng-click="removeContribution()"><button>Reject Changes</button></a>
    </span>
  </div>
</div>

<div id="preview"></div>