<div class="dashboard">
  <div class="wrapper">
    <div class="content">
      <h1>Dashboard: {{user.username}}</h1>
      <div class="books left">
        <!-- <h2>Books</h2>
        <ul class="nav">
          <li><a ui-sref="project">Concrete Mathematics</a></li>
          <li><a ui-sref="project">A Perspective on the Human Condition</a></li>
        </ul> -->
        <h2>Profile</h2>

        <img id="profile">
        <div class="profile">
          <ul class="left labels">
            <li>Joined:</li>
            <li>Name:</li>
            <li>Email:</li>
            <li>Title:</li>
            <li>Org:</li>
          </ul>
          <ul class="left data">
            <li>&nbsp;&nbsp;{{user.meta.createdAt | date: yyyy-mm-dd}}</li>
            <li>&nbsp;&nbsp;{{user.meta.fullName}}</li>
            <li>&nbsp;&nbsp;{{user.email}}</li>
            <li>&nbsp;&nbsp;{{user.meta.title}}</li>
            <li>&nbsp;&nbsp;{{user.meta.workplace}}</li>
          </ul>
        </div>
      </div>
      <div class="pages left">
        <h2>Pages</h2>

        <div ng-controller='ProjectsListController'>
          <div ng-hide="projects" class="fyiBox">
            <p>You don't have any projects yet.</p>
            <p>Create a project to get started &#8594;</p>
          </div>
          <ul class="nav">
            <div ng-repeat='project in projects'>
              <li><a ui-sref='project.preview({username: project.username, repo: project.repo})'>{{project.repo}}<a/><span class="right">{{project.lastUpdate | date: yyyy-mm-dd}}</span></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="control">
      <button>New Book</button>
      <div ng-controller='ProjectsController'>
        <button ng-click='toggleModal()'>New Page</button>
      </div>
    </div>
  </div>
</div>

<div ng-controller='ProjectsController'>
  <a ng-click='toggleModal()'></a>
  <modal-dialog show='modalShown'>
    <h3>Create New Project</h3>
    <form ng-submit='createProject(project); toggleModal()'>
      <label for="project-name">Project Name:</label>
      <input type="text" id="project-name" placeholder="Your Project Name" ng-model="project.repo">
      <button type="submit">Submit</button>
    </form>
    <div class="validation-error">{{error}}</div>
  </modal-dialog>
</div>


