<div class="projects">
  <div class="wrapper">
    <h1>Dashboard</h1>
    <div class="books left">
      <h2>Books</h2>
      <ul class="nav">
        <li><a ui-sref="project">Concrete Mathematics</a></li>
        <li><a ui-sref="project">A Perspective on the Human Condition</a></li>
      </ul>
    </div>
    <div class="pages left">
      <h2>Pages</h2>

      <ul class="nav">
        <li><a ui-sref="project">On the Evils of Trigonometry</a></li>
        <li><a ui-sref="project">Discrete Math Intro</a></li>
        <li><a ui-sref="project">Human Migration</a></li>
        <li><a ui-sref="project">Universal Elements of Culture</a></li>
        <li><a ui-sref="project">Belt Sander Use and Safety</a></li>
        <li><a ui-sref="project">Thermofluid Dynamics</a></li>
      </ul>

      <br>
      <div ng-controller='ProjectsListController'>

        <ul>
          <div ng-repeat='project in projects'>
            <a ui-sref='project({username: project.username, repo: project.repo})'>{{project.repo}}<a/>
          </div>
        </ul>
      </div>

    </div>
    <div class="right">
      <h2>Controls</h2>
      <button>New Book</button>
      <button>New Page</button>
    </div>
  </div>
</div>




