<div class="projects">
  <div class="wrapper">
    <h1>Dashboard</h1>
    <div class="books left">
      <h2>Books</h2>
      <ul class="nav">
        <li><a ui-sref="project">Concrete Mathematics</a></li>
        <li><a ui-sref="project">A Perspective on the Human Condition</a></li>
      </ul>
    </div>
    <div class="pages left">
      <h2>Pages</h2>

      <ul class="nav">
        <li><a ui-sref="project">On the Evils of Trigonometry</a></li>
        <li><a ui-sref="project">Discrete Math Intro</a></li>
        <li><a ui-sref="project">Human Migration</a></li>
        <li><a ui-sref="project">Universal Elements of Culture</a></li>
        <li><a ui-sref="project">Belt Sander Use and Safety</a></li>
        <li><a ui-sref="project">Thermofluid Dynamics</a></li>
      </ul>

      <br>
      <div ng-controller='ProjectsListController'>
        <button ng-click='toggleModal()'>Get Projects List</button>
        <modal-dialog show='modalShown' width='400px' height='60%'>
          <h3>Get Projects List</h3>
          <form ng-submit='getProjects(user)'>
            Username:
            <br>
            <input style="width: 300px;" type="text" placeholder="USERNAME" ng-model="user.username"><br>
            <div><input type="submit" value="Submit"></div>
          </form>
          <div style="color:red;">{{error}}</div>
        </modal-dialog>

        <ul>
          <div ng-repeat='project in projects'>
            <a ui-sref='project({projectName: project.repo })'>{{project.repo}}<a/>
          </div>
        </ul>
      </div>

    </div>
    <div class="right">
      <h2>Controls</h2>
      <button>New Book</button>
      <button>New Page</button>
    </div>
  </div>
</div>
