<div class="discover">
  <div class="wrapper">
    <div>
      <div>
        <ul>
          <input type="text" name="search" placeholder="Search...">
          <h3>
            <input type="checkbox" name="pagesCheckbox" value="pages" checked>Pages
            <input type="checkbox" name="booksCheckbox" value="books" checked>Books
          </h3>
        </ul>
      </div>
      <div>
        <ul>
          <!-- Some kind of practical filter controls should go here. -->
        </ul>
      </div>
    </div>
    <div>
      <select class="right">
        <option selected="selected" value="mostRecent">Recent Activity</option>
        <option value="mostBookmarked">Most Bookmarked</option>
        <option value="name">Name</option>
      </select>
      <div>
          <!--  This is where result documents should display, using ng-repeat probably-->
      </div>
    </div>
  </div>
</div>
