<div id="header">
  <div id="htext">editing <strong>{{projectName}}</strong>
  </div>
  <span style="float: left;"><ul class="editNav">
    <li class="editButton"><i class="fa fa-bold fa-fw"></i></li>
    <li class="editButton"><i class="fa fa-italic fa-fw"></i></li>
    <li class="editButton"><i class="fa fa-globe fa-fw"></i></li>
    <li class="editButton"><i class="fa fa-indent fa-fw"></i></li>
    <li class="editButton"><i class="fa fa-picture-o fa-fw"></i></li>
  </ul></span>

  <div ng-controller='ProjectsController'>
    <span style="float: right;"><ul class="editNav" style="float: left; -webkit-margin-end: 1em">
      <li class="editButton" title="Save Version" ng-click='toggleModal()'><i class="fa fa-floppy-o fa-fw"></i></li>
    </ul></span>
  </div>

</div>
<div id="right">
  <div id="view" class="content"></div>
</div>
<div id="editor"></div>


<div ng-controller='ProjectsController'>
  <a ng-click='toggleModal()'></a>
  <modal-dialog width='400px' height='60%' show='modalShown'>
    <h3>Save New Version</h3>
    <form ng-submit='commitProject(project)'>
      Version Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="use a name that describes your changes..." ng-model="project.commitMessage"><br>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>
