<div id="header" ng-controller='ProjectsController'>
  <div class="left">
    <ul class="editNav left">
      <li class="editButton"><em class="fa fa-bold fa-fw"></em></li>
      <li class="editButton"><em class="fa fa-italic fa-fw"></em></li>
      <li class="editButton"><em class="fa fa-globe fa-fw"></em></li>
      <li class="editButton"><em class="fa fa-indent fa-fw"></em></li>
      <li class="editButton"><em class="fa fa-picture-o fa-fw"></em></li>
    </ul>
    <h4 class="right"><span style="font-weight: 300">Owner:</span> {{projectOwner}}</h4>
  </div>
  <div class="right">
    <h4 class="left"><span style="font-weight: 300">Document:</span> {{projectName}}</h4>
    <ul class="editNav right">
      <li class="editButton save" title="Save Version" ng-click='toggleModal()'><em class="fa fa-floppy-o fa-fw"></em><span class="">&nbsp;Save</span></li>
    </ul>
  </div>
</div>
<div id="right">
  <div id="view" class="content"></div>
</div>
<div id="editor"></div>


<div ng-controller='ProjectsController'>
  <a ng-click='toggleModal()'></a>
  <modal-dialog width='400px' height='60%' show='modalShown'>
    <h3>Save New Version</h3>
    <form ng-submit='commitProject(project); toggleModal()'>
      Version Name:
      <br>
      <input style="width: 300px;" type="text" placeholder="use a name that describes your changes..." ng-model="project.commitMessage"><br>
      <button type="submit">Save Version</button>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>
