<div class="login">
  <div class="wrapper">
    <h1>Login</h1>
    <form>
      <input type="text" name="username" placeholder="Username" ng-model="userInfo.username" required>
      <input type="password" name="password" placeholder="Password" ng-model="userInfo.password" required>
      <button type="button" class="left" ng-click="submitTheForm(userInfo.username, userInfo.password)">Login</button>
      <a ui-sref="sign-up" class="left">Create Account</a>
    </form>
  </div>
  <div class="wrapper" style="color:red;">{{error}}</div>
</div>
