<div class="page" ng-controller="ProjectDetailController">
  <div class="wrapper">
    <div class="content">
    <h1>Project: {{project.repo}}</h1>
    <div>
      <div ui-view="projectDetail"></div>
    </div>
    <div class="right control">
      <button id="editButton">Edit</button>

      <div>
        <h3>
          <ul>
            <li><a ui-sref="project.document">Document</a></li>
            <li><a ui-sref="project.versions">Versions</a></li>
            <li><a ui-sref="project.contributions">Contributions</a></li>
            <li><a ui-sref="project.statistics">Statistics</a></li>
          </ul>
        </h3>
      </div>
      
      <div>
        <h3>
          <ul>
            <li><a>Fork</a></li>
            <li><a>Add to book</a></li>
            <li><a>Delete</a></li>
          </ul>
        </h3>
      </div>
    </div>
  </div>
</div>
