<div class="page">
  <div class="wrapper">
    <div class="content">
      <h1><span>Page: </span>Page Name</h1>
    </div>
    <div class="control">
      <button id="editButton">Edit</button>
      <ul class="nav">
        <li class="current"><a ui-sref="document">Document</a></li>
        <li><a ui-sref="versions">Versions</a></li>
        <li><a ui-sref="contributors">Contributors</a></li>
        <li><a ui-sref="statistics">Statistics</a></li>
      </ul>
      <button>Add to Book...</button>
      <button>Fork</button>
      <button>Download</button>
    </div>
  </div>
</div>
