<div class="page" ng-controller="ProjectDetailController">
  <div class="wrapper">
    <h1>Project: {{project.repo}}</h1>
    <div>
      <div ui-view="projectDetail"></div>
    </div>
    <div class="right">
      <button id="editButton">Edit</button>
      <div>
        <h3>
          <ul>
            <li><a ui-sref="project.document">Document</a></li>
            <li><a ui-sref="project.versions">Versions</a></li>
            <li><a ui-sref="project.contributions">Contributions</a></li>
            <li><a ui-sref="project.statistics">Statistics</a></li>
          </ul>
        </h3>
      </div>
      <div>
        <h3>
          <ul>
            <li><a>Fork</a></li>
            <li><a>Add to book</a></li>
            <li>
              <div ng-controller='ProjectsController'>
                <a ng-click='toggleModal()'>Delete</a>
                <modal-dialog show='modalShown' width='400px' height='60%'>
                  <h3>Delete Project</h3>
                  <form ng-submit='deleteProject(project)'>
                    Are you sure you want to delete {{project.repo}}?
                    <br>
                    <br>
                    repo info: {{project.repo}} // {{project.username}}
                    <br>
                    <br>
                    <div><input type="submit" value="Delete"></div>
                  </form>
                  <div style="color:red;">{{error}}</div>
                </modal-dialog>
              </div>
            </li>
          </ul>
        </h3>
      </div>
    </div>
  </div>
</div>