<div class="profile">
  <div class="wrapper">
    <div class="left">
      <div class="left">
        <h2>Projects</h2>
        <ul>
          <h3>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </h3>
        </ul>
      </div>
      <div class="left">
        <h2>Contributions</h2>
        <ul>
          <h3>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </h3>
        </ul>
      </div>
      <div>
        <h2>Recent Activity</h2>
        <ul>
          <h3>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </h3>
        </ul>
      </div>
      <div>
        <h2>Total Contributions</h2>
        <div>
          <!-- Contribution Chart --> 
        </div>
      </div>
    </div>
    <div class="left">
      <div>
        <img src=userImageGoesHere.jpg>
        <h3>Username</h3>
        <h5>Joined 4/30/2014</h5>
      </div>
      <div>
        <button type="button" id="bookmarkButton">Bookmark</button>
        <hr>
      </div>
    </div>
  </div>
</div>
