<div class="page">
  <div class="wrapper">
    <div class="content">
    <h1><span><a ui-sref="dashboard{{project.username}}">{{project.username}}:</a></span> {{project.repo}}</h1>
    <div>
      <div ui-view="projectDetail"></div>
    </div>

    <div class="right">

      <div class="control">

        <button id="editButton"><a ui-sref="editor({username: project.username, repo: project.repo})">Edit</a></button>

        <ul class="nav">
          <li ng-class="{current:isActive('project.preview')}"><a ui-sref="project.preview">Preview</a></li>
          <li ng-class="{current:isActive('project.versions')}"><a ui-sref="project.versions">Versions</a></li>
          <li ng-class="{current:isActive('project.contributors')}"><a ui-sref="project.contributors">Contributors</a></li>
          <li ng-class="{current:isActive('project.statistics')}"><a ui-sref="project.statistics">Statistics</a></li>
        </ul>
        <button>Add to Book...</button>

        <button ng-hide='currentUser === project.username' ng-controller='ProjectsController'><a ng-click='cloneProject(project)'>Clone Project</a></button>

        <button ng-controller='DownloadController'><a ng-click='getFolder()'>Download</a></button>

        <button ng-hide='currentUser !== project.username'>
          <div ng-controller='ProjectsController'>
            <a ng-click='toggleModal()'>Delete</a>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>


<div ng-controller='ProjectsController'>
  <a ng-click='toggleModal()'></a>

  <modal-dialog width='400px' height='60%' show='modalShown'>
    <h3>Delete Project</h3>
    <form ng-submit='deleteProject(project); toggleModal()'>
      Are you sure you want to delete {{project.repo}}?
      <br>
      <br>
      <div><input type="submit" value="Delete"></div>
    </form>
    <div style="color:red;">{{error}}</div>
  </modal-dialog>
</div>
