<div class="sign-up">
  <div class="wrapper">
    <h1>Sign up</h1>
    <form>
      <input type="text" name="username" ng-model="userInfo.username" placeholder="Enter desired username">
      <div class='invalid left' id="usernameValidator"></div>
      <input type="text" name="email" ng-model="userInfo.email" placeholder="Enter email address">
      <div class='invalid left' id="emailValidator"></div>
      <input type="text" name="password" ng-model="userInfo.password" placeholder="Enter password">
      <input type="text" name="password-verify" ng-model="userInfo.passwordVerify" placeholder="Enter password again">
      <div class='invalid left' id="passwordValidator"></div>
      <button type="button" id="sign-upButton" ng-click="submitTheForm(userInfo.username, userInfo.email, userInfo.password)">Sign-up</button>
    </form>
  </div>
</div>
