<div class="sign-up">
  <div class="wrapper">
    <h1>Sign-up</h1>
    <form>
      <input type="text" name="username" placeholder="Enter desired username"><br>
      <div class='invalid left' id="usernameValidator"></div>
      <input type="text" name="email" placeholder="Enter email address"><br>
      <div class='invalid left' id="emailValidator"></div>
      <input type="text" name="password" placeholder="Enter password"><br>
      <input type="text" name="password-verify" placeholder="Enter password again"><br>
      <div class='invalid left' id="passwordValidator"></div>
      <button type="button" id="sign-upButton">Sign-up</button>
    </form>
  </div>
</div>
