<div class="splash">
  <div class="wrapper">
    <h1>Create open source textbooks to share with the world.</h1>
    <h1>Write them collaboratively – with anyone.</h1>
    <h1>Host them anywhere – no platform lock-in.</h1>
    <button ui-sref="sign-up">Start now.</button>
  </div>
</div>
<div class="triple">
  <div class="wrapper">
    <div class="column">
      <p>Why limit yourself to paper, physical textbooks? A textbook as a website can be accessed on any number of devices, anywhere in the world, by any student with the desire to learn. </p>
      <p>Coming generations will learn primarily from such resources – do you want to be one of the few that create them? </p>
    </div>
    <div class="column">
      <p>No more emailing word documents! textbooks.io projects can be written in the browser, collaboratively, even in real-time – just invite your colleagues to the project you want to work on them with. </p>
      <p>Projects can also be contributed to if you’re not a listed contributor – just open one up, start editing, and the changes you make will be sent to the project owner when you’re done (who can choose to accept them). </p>
    </div>
    <div class="column">
      <p>textbooks.io is not a platform for hosting books, only for writing them. Instead, a download link is provided for anything you create, allowing users to deploy their book anywhere they want. </p>
      <p>So if textbooks.io shuts down one day, you can be sure that the book you created here will continue to work just fine. </p>
    </div>
  </div>
</div>