<div class="tutorial">
  <div class="wrapper">
    <div class="content">
      <h1>Getting started with Markdown</h1>
      <p>Markdown is a simple text formatting system that makes it easy to write content for the web. However, it works a bit differently from what you might be used to, so we've created this short tutorial/reference to get you going. </p>
      <h3>Headings</h3>
      <p>To create a heading, insert a hash symbol (#) in front of the text you want to use as the heading. A single hash will create a large heading, additional hashes will decrease it in size, to a minimum of six. </p>
      <img src="images/header.gif" style="width: 720px">
      <h3>Paragraphs</h3>
      <p>To create a paragraph, seperate text from prior text with two returns. If you would like to start content on a new line but without the extra space, put two spaces at the end of your current line. </p>
      <img src="images/paragraph.gif">
      <h3>Images</h3>
      <p>To insert images, use the following format: </p>
      <blockquote>![Alt text](image address)</blockquote>
      <img src="images/image.gif">
      <h3>Lists</h3>
      <p>Lists are created with dashes, stars or pluses at the beginning of each line. To create sublists, indent a line with a tab (or several). </p>
      <img src="images/list.gif">
    </div>
    <div class="control">
    </div>
  </div>
</div>