<h3>Versions</h3>

<ul>
  <!-- <li ng-repeat='(key, value) in project.commits | orderBy: value.date: reverse'> -->
  <li ng-repeat='(key, value) in project.commits | orderObjectBy: "date": true'>
      <a ui-sref="project.preview({username: project.username, repo: project.repo, commitHash: key})"> {{value.date | date: yyyy-mm-dd}} || {{value.commitMessage}}</a> {{value.date}}
    </div>
  </li>
</ul>

<h3>Pending Contributions</h3>

<ul>
  <!-- <li ng-repeat='(key, value) in project.contributions | orderBy: value.date: reverse'> -->
  <li ng-repeat='(key, value) in project.contributions'>
      <a ui-sref="project.contribution({username: project.username, repo: project.repo, commitHash: key})"> {{value.date | date: yyyy-mm-dd}} || {{value.commitMessage}}</a>
    </div>
  </li>
</ul>
